*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
html{
  scroll-behavior: smooth;
}
body{
    min-width: 400px;

}
a{
  text-decoration: none;
}

/* header contents css styles */

header{
    position: relative;
    background-color: black;
}
.hero {
    height: 100vh;
    background-image: url('/static/StephenHawkingjpg.png');
    background-size: contain;
    background-position: center ;
    background-repeat: no-repeat;
    background-attachment:scroll;
    color: white;
     margin-top: -65px;

  }


  header .nav-wrapper{
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;

  }
  .fixed-nav {
    position: fixed !important;
    top: 0;
  }
  header .barrier{
    height: 65px;
    width: 100%;
    top: 0;
    position: sticky;
    
  }
  svg{

    top: 5%;
    left: 9%;
    display: none;
    background-color: rgb(39, 39, 39);
    width: 50px;
    height: 40px;
    border-radius: 5px;
    
  }

   .navigation-bar{  
    width: 45%;
    border-radius: 50px;
    position: absolute;
    text-align: center;
    left: 26.5%;
    transition: 0.1s;
    display: flex;
    justify-content: center;
  }
  .widen-nav{
    width: 100% ;
    left: 0;
    border-radius: 0;

  }
  .navigation-bar ul{
   display: flex;
   justify-content: space-between;
   width: 100%;
  } 

  .navigation-bar ul li{
    flex: 1;
  }
  
  .navigation-bar a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black; 
    background-color: whitesmoke;
    height: 50px;
    transition: 0.3s;
    width: 100%;
    
  }
  .navigation-bar ul li:first-child a{
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-right: solid black 1px;
  }
  .navigation-bar ul li:last-child a{
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-left: solid black 1px;
  }
  .navigation-bar a.no-radius {
    border-radius: 0 !important;
}

  .navigation-bar a:hover{
    color: white;
    background-color: black;

  }
  .hero-content {
    position: absolute;
    top: 20%;
    left: 8%;
    right: 55%;
  }
  .hero-content h1{
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    font-weight: 100;
    margin-bottom: 13%;

  }
  .hero-content h2{
    font-family: 'Inria Serif', serif;
    font-size: 35px;
    font-weight: 100;
    opacity: 80%;
  }
  .hero-content h3{
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    margin-top: 17%;
    margin-left: 62%;
    font-size: 28px;
    white-space: nowrap;

  }
  .hero-content h4{
    font-size: 18px;
    font-family: 'Inria Serif', serif;
    font-weight: 100;
    margin-left: 65%;
    opacity: 70%;
    margin-top: 0.5%;
    margin-bottom: 5%;
    white-space: nowrap;

  }
  .hero-content button{
   padding: 10px 18px;
   border-radius: 18px; 
   font-family: 'Inter', sans-serif;
   font-weight: bold;
   margin-left: 69%;
   transition: 0.1s;
   white-space: nowrap;
   border: none;
   cursor: pointer
  } 
  .hero-content button:hover{
    background-color: rgb(195, 195, 195);
  }
  /* header contents css contents */
  

  @media screen and (max-width: 600px){
    .hero-content h1{
      font-size: 150%;
  }
  .hero-content h2{
      font-size: 120%;
  }
  .hero-content h3{
      font-size: 90%;
  }
  .hero-content h4{
      font-size: 60%;
  }
  
  }

  /* main contents css styles */

  main{
    background-color: #D9D9D9;
    position: relative;
    padding-block: 100px;
  }

  main h1{
    text-align: center;
  } 

    section{
    width: 100%;
    display: flex;
    margin-inline: auto;
    justify-content: space-around;
    align-items: center;
    padding-top: 80px;
    text-align: justify;
  }
  main section{
    max-width: 1500px;
  }
  

    section .chapter-text {
      font-size: 1.2rem;
      margin-block: 70px;
      width: 30%;
  }
  
   main section  h2{
    color: #555555;
    padding: 5% 12%; 
    text-align: center;
  }
  
  section  ul li{
    color: #333333;
    margin-block: 10%;
    list-style: disc;  
  }
  
   .chapter-image img{
    width: 400px;
    height: 270px;
  } 

  .item4 > *{
    margin-left: 50px;

  }
  .item3{
    margin-left: 60px;
  }
  .item8 > *{
    margin-left: 60px;
   
  }
  .item7 > *{
   margin-left: 50px;
  }
  .item10{
   margin-right: 40px;
  }
  .timeline{
    height: 84%;
    background-color: black;
    width: 4px;
    position: absolute;
    top: 9%;
    left: 50%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
 
  }
  .timeline .circles{
    width: 16px;
    height: 16px;
    border: 4px solid black;
    background-color: #FF8A00;
    border-radius: 50px;
   
  }
  /* main contents css styles */

 
 /* video section css styles */

 .video-section {
  width: 100%;
  padding: 150px 0;
  background: linear-gradient(to right, #050505, #2D2D2D);
  position: relative;
  display: flex;
  flex-direction: column;

}

.video-section h1{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  text-align: center;
  
}

.slider {
  width: 75%;
  margin: auto;
  overflow: hidden;
  color: white;
  

}


.slides {
  display: flex;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.slide div {
  width: 500px;
  margin-left: 35px;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.slide h2 {
  font-size: 25px;
  font-weight: 200;


}

.slide p {
  font-size: 18px;
}

.slide iframe {
  margin-right: 35px;
  max-width: 100%;

}

.buttons {
  position: absolute;
  top: 50%;
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.button {
  background-color: transparent;
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
  font-size: larger;
}

.indicators {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 10%;
}

.indicator {
  width: 6px;
  height: 6px;
  background-color: #ddd;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
}

.active {
  background-color: #333;
}


/* video section css styles */

@media screen and (max-width: 1280px) {
  .hero{
    margin-top: -40px !important;
  }

  header .barrier{
    height: 40px !important;

  }

  .hero-content h3{
      margin-left: 170%;
      margin-top: 0;
  }
  .hero-content h4{
      margin-left: 175%;
  }
  .hero-content button{
      margin-left: 181%;
  }
/* mq video section */

.slider{
  width: 1000px;
 
} 

  .slide {
    flex-direction: column;
    min-height: 600px;
    margin-top: 2%;
 

}

.slide iframe {
    margin: 0 0 0 0; 
    min-width: 400px;

}

.slide div {
    width: 100%;
    margin-left: 0;

}

.slide h2 {
    text-align: center;

}
.slide p{
  text-align: justify;
}
/* mq video section */

}

@media  screen and (max-width: 1000px) {

  /* mq nav */
  header .nav-wrapper{
    position: relative !important;
    top: 0;
    width:   0% !important;
    pointer-events: auto;
    
  }
  .fixed-nav {
    position: absolute !important;
    top: 0;
    
  }
  
  header .barrier{
    height: 65px;
    width: 100%;
    top: 0;
    position: sticky;
    
  }
  .navigation-bar{  
    width: 45%;
    border-radius: 50px;
    position: absolute;
    text-align: center;
    /* left: 16.5% !important; */
    transition: 0.1s;
    display: flex;
    flex-direction: column !important;

  }
  .widen-nav{
    width: 0% !important;
    left: 0;
    border-radius: 0;

  }
  .navigation-bar ul{
   display: flex;
   flex-direction: column !important;
   justify-content: center;
   width: 100%;
   height: 300px !important;
  } 

  .navigation-bar ul li{
    flex: 1;
  }
  
  .navigation-bar a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black; 
    background-color: red;
    height: 50px;
    transition: 0.3s;
    width: 100% !important;
    border: none !important;
  }

  .navigation-bar a.no-radius {
    border-radius: 0 !important;
}

  .navigation-bar a:hover{
    color: white;
    background-color: black;

  }
  .navbar-toggle svg{
    display: block !important;
    z-index: 1;
  }
 
    .navbar-toggle{
  position: fixed;
  background-color:  #333333;
  border-radius: 50%;
  top: 9%;
  left: 15%;
  width: 50px;
  height: 40px;
  cursor: pointer;
  transform: translate(-50.1%, -50.1%);
  transition: width 0.7s ease, height 0.7s ease;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-toggle.active {
  width: 260vw;
  height: 260vh;
  pointer-events: none; /* Disable clicking on the background */
}
.navbar-toggle.active svg {
  pointer-events: auto; /* Enable clicking on the svg */
}


.no-scroll {
  overflow: hidden;
}
  /* mq nav */

  /* mq header */
  .hero-content{
      position: static;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items:center;
      text-align: center;
      height: 100%;
  }

  .hero-link{
      height: 120px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

  }
  .hero-content *{
      margin: 0 !important;
  }
  .hero-content h1{
      font-size: 35px;
      margin-inline: 50px !important; 
      margin-top: 50px !important;
  }
  .hero-content h2{
      margin-inline: 70px !important; 
      font-size: 25px;
  }
  .hero-content h3{
      font-size: 20px;
  }
  .hero-content h4{
      font-size: 12px;
  }
  /* mq header */

  .slider{
    width: 100% !important;
  }
  
}

@media screen and (max-width: 1100px) {
  .hero-content h3{
      margin-top: -21%;
  }

  /* mq main  */

  main section{
    flex-direction: column;    
  }
  main section *{
    margin-inline: 0 !important;

  }
  main h1{
    padding-bottom: 0;
  }
  .chapter-text{
    width: 80% !important;
  }
  .timeline{
    display: none;
  }
  .item1{
    order:1;
  }
  .item2{
    order: 2;

  }
  .item4{
    order: 3;
  }
  .item3{
    order: 4;
  }
  .item5{
    order: 5;
  }
  .item6{
    order: 6;
  }
  .item8{
    order: 7;
  }
  .item7{
    order: 8;
  }
  .item9{
    order: 9;
  }
  .item10{
    order: 10;
  }
  /* mq main  */

}

  /* book section css styles */

  .book-section {
    width: 100%;
    background-color: #2F3339;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px 0px;
    box-sizing: border-box;
    text-align: center;
  }
  
  .book-section h1 {
    margin-block: 40px;
    padding: 0;
    color: #CDBFBF;
    margin-inline: 50px;
  }
  
  .book-list {
    list-style: none;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center the items */
    align-items: center;
    margin-bottom: 30px;
  }
  
  .book-item {
    margin: 10px;
    padding: 0 35px;
    height: 330px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
  }
  
  .book-item img {
    width: 150px;
    height: 215px;
    transition: transform 0.3s;
  }
  
  .book-item p {
    margin: 10px 0;
  }
  
  .book-item:hover img {
    transform: scale(1.1);
  }

/* book section css styles */


/* footer contents css styles */

footer {
  background-color: #1e1e1e;
  color: #fff;
  padding-block: 70px;
  text-align: center;
  position: relative;
}

.social-media {
  margin-bottom: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media a {
  margin: 0 20px;
  color: black;  
  padding: 8px;
  background-color: white;
  border-radius: 25px;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-media a:last-child{
  padding-block: 9px; 
  padding-inline: 7px;
  font-size: 22px;
}
.footer-nav{
  display: flex;
  justify-content: center;

}
.footer-nav ul{
  display: flex;  
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  gap: 20px;
  margin-inline: 20px;
}

.footer-nav a {
  margin: 0 10px;
  color: #fff;
}


.footer-nav a:hover {
  text-decoration: underline;
  
}

.copyright {
  font-size: 14px;
  position: absolute;
  background-color: rgb(14, 14, 14);
  padding-block: 5px;
  color: #736E6E;
  bottom: 0;
  width: 100%;
}

/* footer contents css styles */
 
@media screen and (max-width: 400px) {
  /* mq footer */

  .footer-nav ul{
    flex-direction: column;
    row-gap: 40px;
    margin-inline: 200px;
   
  }

  /* mq footer */
}


 